{% load i18n staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head_temp.html' %}
</head>
<body>
    <div class="main-container">
        {% include 'nav_temp.html' %}
        <div class="container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="container container-msg">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            {% block title %}
                            <i class="fa fa-exclamation-triangle"></i>
                            {% endblock title %}
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% block content %}

                        {% endblock content %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'foot_temp.html' %}
</body>
</html>
