/*隐藏滚轮*/
::-webkit-scrollbar {
  display: none;
}
.navbar {
  margin-bottom: 0;
}
p {
  margin: 10px 0 10px !important;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
.main-container {
  min-height: 100%;
  margin-bottom: -50px;
}
.container-msg {
  margin-top: 20px;
}
.footer {
  height: auto;
  text-align: center;
  background-color: #131313;
  color: rgb(221, 221, 221);
}
.copyright {
  padding: 5px 0;
}
/*-----------------------------------------------------------------------*/
.fo,
.fo:link,
.fo:visited,
.fo:hover,
.fo:active {
  text-decoration: none;
  color: inherit;
}
/*段落文字左右对齐*/
p.fo-justify {
  text-align: justify;
}
span.fo-justify {
  display:inline-block;
  padding-left: 100%
}
/*文字缩放*/
.fo-2x {
  font-size: 2em;
}
.fo-3x {
  font-size: 3em;
}
.fo-4x {
  font-size: 4em;
}
/*首字下沉*/
.fo-dropdown {
  float: left !important;
  margin-right: .3em;
}
.fo-border {
  padding: .1em .2em .1em;
  border: solid .08em rgb(209, 209, 209);
  border-radius: .1em;
}
/*首页介绍*/
section.home-info {
  padding:65px 0;
  background-color: #e6e6e6;
}
section.home-info-odd {
  padding: 55px 0;
  background-color: #FFFFFF;
}
section.home-info-even {
  padding:55px 0;
  background-color: #e6e6e6;
}
section.home-info-last {
  margin-bottom: 50px;
}
.info-row {
  color: rgb(90, 90, 90);
  font-size: 1.2em;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
}
.info-row h2 {
  margin-bottom: 15px;
  color: #131313;
}
@media (min-width:767px){
  .info-left {
    padding: 15px 40px 15px 15px;
  }
  .info-right {
    padding: 15px 15px 15px 40px;
  }
}
@media (max-width: 767px) {
  .info-left {
    padding: 15px 25px 15px 25px;
  }
  .info-right {
    padding: 15px 25px 15px 25px;
  }
}

.align-v {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.align-h {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.align-mid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*滑动淡入*/
@media (min-width: 767px) {
  .fadeIn-down {
    animation: fadeIn-down 1.5s ease;
  }
  @keyframes fadeIn-down{
    from { 
      transform: translateY(-50px);
      opacity: 0; 
    }
    to { 
      transform: translateY(0px);
      opacity: 1; 
    }
  }
  .fadeIn-up {
    animation: fadeIn-up 1.5s ease;
  }
  @keyframes fadeIn-up{
    from { 
      transform: translateY(50px);
      opacity: 0; 
    }
    to { 
      transform: translateY(0px);
      opacity: 1; 
    }
  }
}
/*------------------------------------------------*/
la {
  text-align: right;
  font-weight: bolder;
}
lr {
  text-align: left;
}
section.account-info {
  padding:65px 0;
}