{% extends "MGbase.html" %}
{% load i18n %}
{% load i18n staticfiles %}

{% block content %}
<section class="account-info">
    <div class="container">
        <h4 class="col-md-12">
            <la class="col-md-4"><i class="fa fa-3x fa-user-circle"></i></la>
            <lr class="col-md-8 fo fo-2x">{{request.user.name}}</lr>
        </h3>
        <la class="col-md-4">电子邮箱:</la>
        <lr class="col-md-8">{{request.user.email}}</lr>
        <la class="col-md-4">注册时间:</la>
        <lr class="col-md-8">{{request.user.date_joined}}</lr>
        <la class="col-md-4">账号类型:</la>
        {% if request.user.is_superuser %}
            <lr class="col-md-8">超级管理员</lr>
        {% elif request.user.is_staff%}
            <lr class="col-md-8">管理员</lr>
        {% else %}
            <lr class="col-md-8">注册用户</lr>
        {% endif %}
        <la class="col-md-4">Node plus会员:</la>
        <lr class="col-md-8">{{day_end}}</lr>
    </div>
</section>
{% if request.user.is_superuser %}
<section class="account-manage-order">
    <div class="container">
        <table border=2px>
            <thead>
                <tr>
                    <th>用户名</th>
                    <th>订购日期</th>
                    <th>start</th>
                    <th>end</th>
                    <th>订单价格确认及激活</th>
                </tr>
            </thead>
            {% for order in order_list %}
            <tr>
                <th>{{order.user}}</th>
                <th>{{order.date_add}}</th>
                <th>{{order.date_start}}</th>
                <th>{{order.date_end}}</th>
                <th>
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{order.user.id}}" name="user">
                            <input type="hidden" value="{{order.date_last}}" name="last">
                            <input type="number" name="value">
                            <button type="submit" class="btn btn-info" onclick="javascript:return confirm('确认激活用户订购？');">激活</button>
                        </form>
                </th>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>
{% endif %}
{% endblock %}
