{% extends "MGbase.html" %}
{% load i18n %}
{% load i18n staticfiles %}

{% block content %}
<section class="home-info">
	<div class="container">
		<div class="info-row">
			<div class="info-left fadeIn-up col-md-6 col-sm-6 col-xs-12">
				<div class="">
					<h2>
					CubeNode-节点魔方
					</h2>
					<p class="fo-justify">
						<a class="fo fo-2x fo-dropdown fo-border">
							节
						</a>
						点魔方是一个基于互联网新技术的魔方学习平台，用新的技术传递魔方文化，期望通过技术的力量让学习魔方更简单！
						<br>
						我们致力于研究最前沿的趋势，最酷的技术，领域涉及魔方教学、智能魔方、虚拟魔方、人工智能等等。期待这些新技术能与魔方相互作用并产生新的价值，改变人们对魔方的固有认识。
						<br>
						<span class="fo-justify"></span>
					</p>
				</div>
			</div>
			<div class="info-right fadeIn-down col-md-6 col-sm-6 hidden-xs">
				<div class="align-mid">
					<img src="{% static 'img/logo-200x200.png' %}" alt="CubeNode节点魔方" width="200px"/>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="home-info-odd home-info-last">
	<div class="container">
		<div class="info-row">
			<div class="info-left fadeIn-up col-md-6 col-sm-6 hidden-xs">
				<div class="align-mid">
					<img src="{% static 'img/CubeTV.png' %}" alt="CubeTV直播组" width="400px"/>
				</div>
			</div>
			<div class="info-right fadeIn-down col-md-6 col-sm-6 col-xs-12">
				<div class="">
					<h2>
						CubeTV魔方直播组
					</h2>
					<p class="fo-justify ">
				    	CubeTV是国内首个魔方赛事直播小组，成立于2015年，至今为止在网络直播平台直播了近百场WCA魔方赛事。其中包括2015亚洲锦标赛，2017、2018中国锦标赛等多场国家级的魔方赛事。cubeTV团队包括：赛事主播组、摄像组、技术开发组，我们的目标是实现广播级的魔方赛事转播，把最优质的魔方赛事带给喜爱魔方的广大群众。
						<br>
						<span class="fo-justify"></span>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
