{% extends "MGbase.html" %}
{% load i18n %}
{% load i18n staticfiles %}

{% block content %}
<section class="home-info">
	<div class="container">
		<div class="info-row">
			<div class="info-left fadeIn-up col-md-6 col-sm-6 col-xs-12">
				<div class="">
					<h2>
					CubeTV魔方直播组
					</h2>
					<p class="fo-justify">
						<a class="fo fo-2x fo-dropdown fo-border">
							魔
						</a>
						方，英文名为Rubik's Cube，又叫鲁比克方块，台湾地区称之为魔术方块，香港地区称之为扭计骰，最早是由匈牙利布达佩斯建筑学院厄尔诺·鲁比克教授于1974年发明的。魔方是一项手部极限运动。
						<br>
						<span class="fo-justify"></span>
		    		</p>
				</div>
			</div>
			<div class="info-right fadeIn-down col-md-6 col-sm-6 hidden-xs">
				<img src="{% static 'img/CubeTV.png' %}" alt="CubeTV直播组" width="400"/>
			</div>
		</div>
	</div>
</section>
<section class="home-info-odd home-info-last">
	<div class="container">
		<div class="info-row">
			<div class="info-left fadeIn-up col-md-6 col-sm-6 hidden-xs">
				<div class="align-mid fo-3x">
						<i class="fa fa-podcast fa-4x" style="color: #4b4b4b"></i>
				</div>
			</div>
			<div class="info-right fadeIn-down col-md-6 col-sm-6 col-xs-12">
				<div class="">
					<h2>
						加入我们
					</h2>
					<p class="fo-justify ">
						<a class="fo fo-2x fo-dropdown fo-border">
							魔
						</a>
						方，英文名为Rubik's Cube，又叫鲁比克方块，台湾地区称之为魔术方块，香港地区称之为扭计骰，最早是由匈牙利布达佩斯建筑学院厄尔诺·鲁比克教授于1974年发明的。魔方是一项手部极限运动。
						<br>
						<span class="fo-justify"></span>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
