{% extends "MGbase.html" %}
{% load i18n %}
{% load i18n staticfiles %}

{% block content %}
<div class="container container-msg">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-exclamation-triangle"></i>&nbsp注意
            </h3>
        </div>
        <div class="panel-body">
            <p>{{waring_msg}}</p>
            <p><a id="time">3</a>秒后自动跳转至登录页面</p>
            <script>
                var timer = 0,
                countDown = 3;
                function count() {
                    countDown--;
                    $('#time').text(countDown);
                    if (countDown <= 0) {
                        clearInterval(timer);
                        $('#time').text('0');
                        location = '/accounts/login/';
                        return false;
                    }
                }

                $(document).ready(function () {
                    timer = setInterval('count()', 1000);
                });
            </script>
        </div>
    </div>
</div>
{% endblock %}
