{% load i18n staticfiles %}
<header>
    <div class="container">
        <h1 class="logo col-md-12 col-sm-12">
            <a href="/">
                <img id="logo" src="{% static 'img/logo-265x100.png' %}">
            </a>
        </h1>
    </div>
</header>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container">
        {% if request.user.is_authenticated %}
        <div>
            <ul class="nav navbar-nav">
                <li {% if request.path == "/" %}class="active"{% endif %}><a href="/"><i class="fa fa-home"></i>&nbsp主页</a></li>
                <li {% if request.path == "/mg/" %}class="active"{% endif %}><a href="/mg/"><i class="fa fa-book"></i>&nbsp教程</a></li>
            </ul>
        </div>
        <div class="hidden-xs">
            <ul class="nav navbar-nav navbar-right"> 
                <li><a href="/account/">{{request.user}}</a></li> 
                <li><a href="/accounts/logout/"><i class="fa fa-sign-out"></i>&nbsp登出</a></li> 
            </ul> 
        </div>
        {% else %}
        <div>
            <ul class="nav navbar-nav">
                <li {% if request.path == "/" %}class="active"{% endif %}><a href="/"><i class="fa fa-home"></i>&nbsp主页</a></li>
                <li {% if request.path == "/mg/" %}class="active"{% endif %}><a href="/mg/"><i class="fa fa-book"></i>&nbsp教程</a></li>
            </ul>
        </div>
        <div class="hidden-xs">
            <ul class="nav navbar-nav navbar-right"> 
                <li {% if request.path == "/accounts/register/" %}class="active"{% endif %}><a href="/accounts/register/"><i class="fa fa-user-circle"></i>&nbsp注册</a></li> 
                <li {% if request.path == "/accounts/login/" %}class="active"{% endif %}><a href="/accounts/login/"><i class="fa fa-sign-in"></i>&nbsp登录</a></li> 
            </ul> 
        </div>
        {% endif %}
    </div>
</nav>