{% extends "base.html" %}
{% load i18n %}

{% block title %}
登录
{% endblock %}

{% block content %}
<div class="form-wrapper">
	<form method="post" action=".">
		{% if form.errors %}
			{% include "users/partials/errors.html" %}
		{% endif %}
		{% csrf_token %}
		{% for field in form %}
			{% include "users/partials/field.html" %}
		{% endfor %}
		<div class="button-wrapper submit col-md-2 col-sm-2">
			<input class="btn btn-primary" type="submit" value="{% trans 'Log in' %}" />
		</div>
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
</div>
{% endblock %}
